@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <br />
    <p>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger"><strong>@Model.Message</strong></h2>
        
    </p>
}

