@{
    ViewData["Title"] = "MENU";
}

<div class="text-center">
    <h1 class="display-4">MENU</h1>
    <p>You never get a second chance to make a great first impression.</p>
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="HotDrinks">Hot Drinks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <br />
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ColdDrinks">Cold Drinks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <br />
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Food">Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

